

mixin section-footer
    .footer
        .footer__content
            .footer__logo
                img(src="assets/img/Logo.svg")
            .footer__addr
                .footer__addr-title= 'Office'
                .footer__addr-info= '4 Perez Drive, Lekki Phase 1, Lagos.'
            .footer__contact
                .footer__contact-title= 'Contact'
                .footer__contact-email= 'hello@irorun.com'
                .footer__contact-phone= '+234 809 666 8877'
            .footer__powered
                .footer__powered-by= 'Powered by YesCredit Limited.'
                .footer__powered-licensed= 'licensed as a Money Lender by the Lagos State Government of Nigeria.'